.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #282c34;
  width: 150px;
  padding: 0 10px;
}